{% extends "base.html" %} {% block content %}

<style>
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 100px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
</head>
<body style="background-color:white;">


<div class="dropdown mt-2 rounded" style="float:right;">
  <button onclick="myFunction()" class="dropbtn">Profile</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/mypost">My Profile</a>
    <a href="/newpost">New Post</a>
    <a href="/login">Login</a>
    <a href="/signupt">Signup</a>
  </div>
</div>
<br>
<br>
<br>
 <div class="container custom-container" style="max-width: 1350px; ">
      {% for post in posts %}
        <article class="media content-section">

            <div class="media-body" style="border: 1px solid black; padding: 23px; margin-bottom: 10px;">
                <div class="article-metadata">
                    <h1 class="text-uppercase" style="text-align:left;float:left; color: #000000;">{{ post.author }}</h1>
                    <h5 style="text-align:right;float:right;"> {{post.dateposted|date:"F d,Y"}}</h5>
                    <hr style="clear:both;" />

                </div>
                <h3>{{post.content}}</h3>
                <p class="article-content"></p>
                <br><br>
            </div>
        </article>
        {% endfor %}
     
    </div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

</body>
</html>


    {% endblock content %}
  </body>
</html>
